<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Clicky
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Add Question</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <pinch-zoom>
    <div style="position: relative;">
      <img
        style="position: relative;"
        (click)="getRelativePositionInPercent($event)"
        src="../../assets/images/Minions.png"
      />
      <span *ngIf="displayRing" class="circle"></span>
    </div>
  </pinch-zoom>
  <ion-list style="padding-top: 16px;" lines="full">
    <ion-item>
      <ion-checkbox checked slot="end"></ion-checkbox>
      <ion-label>Show results after tipp</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked slot="end"></ion-checkbox>
      <ion-label>Resolution after one day</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button expand="block"> Create </ion-button>
  </ion-toolbar>
</ion-footer>
